

$bg: #fff;
$rare: #62C1DD;
$flare: #D8ECE8
;
$pop: #F1B770;
$default: #96AFB8;
$important-urgent: #F9F871;
$important: #88F9BA;
$urgent: #C65F95;

*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  background-color: $flare;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 20fr;
  grid-template-areas: 
  "header header"
  "nav main"
  "nav main"
  "nav main"
  "nav main"
  "nav main"
  "nav main"
  "nav main";
}

.nav{
  background-color: $pop;
  color: #393D3A;

  grid-area:nav;

  li{
    display:flex;
    flex-direction: column;
    gap:2em;
    justify-content: flex-start;
    margin-left:1em;
    margin-top:4em;
  }
  
}



.main{
  grid-area: main;
  display:flex;
  flex-direction: column;
  gap:1em;

}
#add-to-do{
  border-radius:10px;
  height:2.5em;
  width:75%;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $rare;

  &:hover{
    transform: scaleY(1.05);
    background-color: darken($rare, 10%);
    cursor: pointer;
  }
}

  .checkbox-container{
   display:flex;
   align-items:center;

   
    p{
      align-self: flex-end;
      justify-self: flex-end;
      margin-left:auto;
    }

    label{
      cursor: pointer;
      display:flex;
     &::before{
       content: '';
       width: 1em;
       height: 1em;
       margin-right: .5em;
       border-radius: .15em;      
       border: 0.05em solid black;

      }
     &:hover::before{
       background-color: $rare;
     }
    }
    input[type='checkbox']{
      cursor: pointer;
      opacity: 0;
      position: absolute;
      
      &:hover + label::before {
        background-color: $rare;
      }
      &:checked + label::before{
        content: '\002714';
        background-color: darken($rare, 20%);
        display:flex;
        justify-content: center;
        align-items:center;
        color: $flare;
      }
      &:focus + label::before {
        box-shadow: 0 0 20px black;
      }
    }
  }
.header{
  grid-area:header;
}

#forms-container{
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:35%;
  width:20rem;
  padding:2rem;

  background-color: $rare;
  border-radius: 20px;


  .urgencies-container{
    display:flex;
    gap:.7em;
    margin-top:2em;
    justify-content: space-evenly;
    align-items: center;
    

  }
  .urgencies{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:0.3em;
    

    

    &:hover{
      cursor:pointer;
      transform:scale(1.05)
    }
  }
  #important-urgent{
    background-color:$important-urgent;
    
    
    
    &:hover{
      background-color: darken($important-urgent, 20%);
    }
  }
  #important{
    background-color: $important;
    
    
    &:hover{
      background-color: darken($important, 20%);
    }
  }
  #urgent{
    background-color: $urgent;
    
    
    &:hover{
      background-color: darken($urgent, 20%); 
    }
  }
  #default{ 
    background-color:$default;
    
    
    &:hover{
      background-color: darken($default, 20%);
      }
  }
}