

$bg: #fff;
$rare: #62C1DD;
$flare: #D8ECE8
;
$pop: #F1B770;

*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  background-color: $flare;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 20fr;
  grid-template-areas: 
  "header header"
  "nav main"
  "nav main"
  "nav main"
  "nav main"
  "nav main"
  "nav main"
  "nav main";
}

// #content{
//   height: 100vh;
//   background-color: $flare;
//   display: grid;
//   grid-template-columns: 1fr 5fr;
//   grid-template-rows: 1fr 20fr;
//   grid-template-areas: 
//   "header header"
//   "nav main"
//   "nav main"
//   "nav main"
//   "nav main"
//   "nav main"
//   "nav main"
//   "nav main";
// }

.nav{
  background-color: $pop;
  color: #393D3A;

  grid-area:nav;

  li{
    display:flex;
    flex-direction: column;
    gap:2em;
    justify-content: flex-start;
    margin-left:1em;
    margin-top:4em;
  }
  
}



.main{
  grid-area: main;
  display:flex;
  flex-direction: column;
  gap:1em;

}
#add-to-do{
  width: 50px;
  height:50px;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: $rare;
}

  .checkbox-container{
   display:flex;
   align-items:center;
   
    p{
      align-self: flex-end;
      justify-self: flex-end;
      margin-left:auto;
    }

    label{
      cursor: pointer;
      display:flex;
     &::before{
       content: '';
       width: 1em;
       height: 1em;
       margin-right: .5em;
       border-radius: .15em;      
       border: 0.05em solid black;

      }
     &:hover::before{
       background-color: $rare;
     }
    }
    input[type='checkbox']{
      cursor: pointer;
      opacity: 0;
      position: absolute;
      
      &:hover + label::before {
        background-color: $rare;
      }
      &:checked + label::before{
        content: '\002714';
        background-color: darken($rare, 20%);
        display:flex;
        justify-content: center;
        align-items:center;
        color: $flare;
      }
      &:focus + label::before {
        box-shadow: 0 0 20px black;
      }
    }
  }
.header{
  grid-area:header;
}

#forms-container{
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top:35%;
  width:10rem;
  padding:2rem;

  background-color: #FF9671;
}